body {
display: flex;
align-items: center;
justify-content: center;
margin: 0;
padding: 0;
height: 100vh;
}

video {
	position: fixed;
	min-height: 100vh;
	min-width: 100vw;
}
.start {
	background-image: url(images/marioscreen.png);
	height: 520px;
	width: 727px;
	top: 90px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
}

.startbutton {
	height: 100px;
	width: 250px;
	position: absolute;
	bottom: 130px;
	cursor: pointer;
	background-color: transparent;
	z-index: 1;
}
.mushroomicon {
	background-image: url(images/mushroomicon.png);
	height: 100px;
	width: 100px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	bottom: 135px;
	left: 33%;
	position: absolute;
	display: none;
}
.mushroomicon.active {
	display: block;
}
.container {
	position: absolute;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	height: 600px;
	width: 600px;
	margin: 0;
	padding: 0;
}
.finish {
	position:absolute;
	font-size: 50px;
	color: black;
	display:none;
}
.finish.done {
	display:block;
}
.card {
	margin: 4px;
	background-image: url(images/question.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

}
#brick {
		position: relative;
		bottom: -45%;
    width: 130px;
    height: 60px;
		font-size: 30px;
		color:white;
		transition: all 0.1s ease-in-out;
		font-weight:bold;
		cursor: pointer;
		background-size: cover;
    background-image: url(images/brick2.png);
    background-repeat: no-repeat;
}
#brick:hover {
	transform: scale(1.05);
}
.active {
	transform: rotateY(180deg);
	transition: 1s;
	transform-style: preserve-3d;
}

.card.notactive {
	transform: rotateY(180deg);
	background-color: goldenrod;
}
.card.activeimage {
	background-color:inherit;
	border: 0;
	background-image: url(images/goomba-icon.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.card-1.activeimage {
	background-image: url(images/Goomba-icon.png);

}
.card-2.activeimage {
	background-image: url(images/Boo-icon.png);

}
.card-3.activeimage {
	background-image: url(images/Bullet-Bill-icon.png);

}
.card-4.activeimage {
	background-image: url(images/Chain-Chomp-icon.png);

}
.card-5.activeimage {
	background-image: url(images/Mushroom-1UP-icon.png);

}
.card-6.activeimage {
	background-image: url(images/Paper-Bowser-icon.png);

}
.card-7.activeimage {
	background-image: url(images/Paper-Mario-icon.png);

}
.card-8.activeimage {
	background-image: url(images/Star-icon.png);

}
@keyframes card1 {
	100% {
		background-color: aquamarine;
	}

}
