body {
display: flex;
align-items: center;
justify-content: center;
height: 100vh;
margin: 0;
}

* {
	border: 1px solid black;
}
.container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	height: 700px;
	width: 700px;
	margin: 0;
	background-color: white;
}

.cards {
	border: 1px solid black;
	margin: 4px;
	background-color: goldenrod;

}
.selected {
	transform: scale(1.05);
}
.cards.active{
	display: none;
}

.card-1 {
	background-color: green;

}
.card-2 {
	background-color: black;


}
.card-3 {
background-color: hotpink;
}
.card-4 {
background-color: purple;
}
.card-5 {
background-color: white;
}
.card-6 {
background-color: grey;
}
.card-7 {
background-color: blue;
}
.card-8 {
background-color: lightblue;
}
