body {
display: flex;
align-items: center;
justify-content: center;
height: 100vh;
margin: 0;
}

.container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	height: 700px;
	width: 700px;
	margin: 0;
	background-color: white;
}

.card {
	border: 1px solid black;
	margin: 4px;
	background-color: goldenrod;

}
.card.active{
	transform:scale(1.02);
}
